
body{

}

.title-container {
    height: 40vh;
    background-color: #F1F1F2;
}


.title-hello {
    font-size: 8rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.title-name {
    color: #F1F1F2;
    background-color: #1995AD;
    width: 40vh;

    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin-left: 16vw;
    position: relative;
    top: -2.0rem;
}

.title-tag {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  position: relative;
  top: -1.5rem;
}

.about-me-container {
    height:40vh;
    width: 80vw;
    background-color: #A1D6E2;
    margin-left: 10vw
}

.about-me-image {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;

  box-shadow: 10px 5px 10px silver;
}

.about-me-text {
  font-family: 'Special Elite', cursive;
  color: #F1F1F2;
  font-size: 1rem;
  font-weight: 200;
}

.achievements-title {
  font-family: 'Special Elite', cursive;
  color: #F1F1F2;
  font-size: 2rem;
  font-weight: 200;
  position: relative;
  top: 2.0rem;
  background-color: #68829E;
  width: 80vw;
  margin-left: 10vw;
}
.achievements-container {
  font-family: 'Special Elite', cursive;
  color: #F1F1F2;
  font-size: 1rem;
  font-weight: 100;
  position: relative;
  top: 1.0rem;
  background-color: #68829E;
  width: 80vw;
  margin-left: 10vw;
}

.contact-me-container {
  margin-top: 10vh;
  font-family: 'Josefin Sans', sans-serif;
  color: #404040;
  font-size: 2rem;
  font-weight: normal;
}

<style>
a:link {
  color: #404040;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #cb99c9;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fdfd96;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #c1e1c1;
  background-color: transparent;
  text-decoration: underline;
}
</style>
